# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/

# ======================
# Virtual Environments
# ======================
venv/
.env/
.venv/
ENV/
env/

# ======================
# Environment variables
# ======================
.env
.env.*

# ======================
# FastAPI / Uvicorn
# ======================
*.log
uvicorn.log

# ======================
# Databases
# ======================
*.sqlite
*.sqlite3
*.db

# ML models
models/
*.joblib